body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}


/* adding these fixes the majority of spacing/padding issues on websites */
img {
    max-width: 100%;
    display: block;
}
/* Typography */
h1,
h2,
h3 {
    font-family: 'lora', serif;
    font-weight: 400;
    color: #143774;
}

h1 { 
    font-size: 2rem;
    margin: 0;
}

a {
    font-weight: bold;
}

a:hover,
a:focus 
{
    color: #143774;
}

strong {
    font-weight: 700;
}
/* h1 subtitle */
.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

.article-title {
    font-size: 1.5rem; /* 24px */
}

.article-info,
.article-link {
    font-size: .875rem;
}

.article-link
 {
    text-transform: uppercase;
    font-weight: 700;
    color: #1792d2;
    text-decoration: none;
}

.article-link:hover,
.article-link:focus {
    color: #143774;
    text-decoration: underline;
}

.article-featured {
    border-bottom: 1px solid #143774;
    padding: 1em 0;
    color: #143774;
}

.article-info {
    color: #707070;
}

.article-recent-secondary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* layout */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
}

main {
    width: 75%;
}

aside {
    width: 20%
}

/* navigation */

.nav-list {
    padding: 0;
    display: flex;
}

.nav-list-itm {
    list-style: none;
    text-transform: uppercase;
    margin-left: 2em;
}

.nav-link {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #1792d2;
    border-bottom: 1px solid #707070;
}

/* Widgets */

.widget-title {
    text-transform: uppercase;
}

/* footer */

footer{
    text-align: center;
    color: #f8f8f8;
    background: #143774;
    padding: 1em 0;
}
/* media queries */

@media (max-width: 675px) {
    .container-flex {
        flex-direction: column;
    }

    header {
        text-align: center;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-list-item {
        margin: .5em 0;
    }
}